body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color:cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 35px; 
    text-align: center;
}

h3 {
    text-align: center;
}

select {
    min-width: 6rem;
}

.controls {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
}

.control-section {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    margin: 10px 20px
}

.food-list {
    min-width: 10rem;
}

.section-title-space {
    height: 45pt;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}